@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
  color-scheme: light;
  --dark-background-color: #202124;
  --dark-text-color: #bcc0c3;
  --dark-blue: #2067d6;
  --background-color: #fff;
  --text-color: #000;
  --blue: #265bff;
  --orange: #ee6352;
}

html {
  font-family: "Montserrat", "Oswald", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;

  line-height: 1.5 !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: normal;
}

li {
  display: inline-block;
  color: var(--blue);
  font-weight: bold;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:visited {
  color: var(--blue);
}

.brown-text {
  color: var(--orange);
  font-style: oblique;
  font-family: "Oswald";
  font-weight: bold;
}

@media (prefers-color-scheme: light){

}


/* @media (prefers-color-scheme: dark) {
  body { 
    background: var(--dark-background-color);
    color: rgb(199, 199, 199);
  }
  .back2-img {
    box-shadow: none !important;
  }
}