@import url(../styles/general-styles.css);

nav.inside-box,
.inside-box {
  position: sticky !important;
  top: 0 !important;
  z-index: 1111 !important;

  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: var(--background-color) !important;
}

.inside-box {
  /* display: flex;
  flex-direction: row;
  gap: 16px; */
  width: 100% !important;
}

ul li {
  width: 15%;
  margin-left: 20px;
  margin-right: 20px;
}

.inside-box ul li {
  vertical-align: top;
}

.dropdown li {
  display: flex;
  text-align: center;
  background: var(--background-color) linear-gradient(to right, #fff, #fff); /* rgb(0 0 0 / .9); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* box-shadow: rgba(38, 91, 255, 0.4) 5px 5px, rgba(38, 91, 255, 0.3) 10px 10px, 
    rgba(38, 91, 255, 0.2) 15px 15px, rgba(38, 91, 255, 0.1) 20px 20px,
    rgba(38, 91, 255, 0.05) 25px 25px; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 9999;
  display: none;
}

ul li a:hover {
  background: transparent;
  color: var(--orange);
}

ul li:hover ul.dropdown {
  display: flex;
  flex-direction: column;
}

ul li ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.background-image {
  object-fit: cover;
  object-position: top;
  height: 300px;
  width: 100% !important;
}

@media (hover: hover) {
  /* targets devices that can hover */
}

@media (hover: none) {
  /* targets devices that don't hover */

  ul li:active ul.dropdown {
    display: block;
  }

  .inside-box {
    /* display: flex;
    flex-direction: row;
    gap: 16px; */
    width: 100% !important;
  }
}

@media only screen and (max-width: 720px) {
  ul li a {
    font-size: 7px;
  }
  ul li {
    margin: 0 14px !important;
  }
}

@media only screen and (max-width: 700px) {
  .home {
    margin-left: 5px;
  }

  .inside-box {
    /* display: flex;
    flex-direction: row;
    gap: 16px; */
    width: 100% !important;
  }
  ul li {
    font-size: 5px !important;
    width: 9%;
  }
}

@media screen and (max-width: 650px) {
  ul {
    padding-left: 6px !important;
  }
  li {
    font-size: 17px;
  }
}

@media screen and (max-width: 380px) {
  ul li {
    margin: 0 15px;
  }
}
