@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}

.container .heading h1 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h1 {
  font-weight: 100;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream .img,
.container .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 25px;
}

@media only screen and (max-width: 769px) {
  .container .box {
    flex-direction: column;
    align-items: center;
  }

  .container .box .dream {
    width: 90%;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* :root {
  --green: #0f0;
}
.cube {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  -webkit-transform: rotateX(-30deg);
  -moz-transform: rotateX(-30deg);
  -ms-transform: rotateX(-30deg);
  -o-transform: rotateX(-30deg);
  animation: animate 10s linear infinite;
  -webkit-animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
    -moz-transform: rotateX(-30deg) rotateY(0deg);
    -ms-transform: rotateX(-30deg) rotateY(0deg);
    -o-transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
    -moz-transform: rotateX(-30deg) rotateY(310deg);
    -ms-transform: rotateX(-30deg) rotateY(310deg);
    -o-transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pictures/back.jpg)
    /* linear-gradient( #151515,#00ce00) */ /*;
  background-size: cover;
  background-position: center;
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  /* 300/2=150; */ /*
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  -moz-transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  -ms-transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  -o-transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  /* background: url(../pictures/back.jpg) #222;; */ /*
  background-size: cover;
  background-position: center;
  transform: rotateX(90deg) translateZ(150px);
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  -ms-transform: rotateX(90deg) translateZ(150px);
  -o-transform: rotateX(90deg) translateZ(150px);
}
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  /* background: var(--green); */ /*
  transform: translateZ(-380px);
  -webkit-transform: translateZ(-380px);
  -moz-transform: translateZ(-80px);
  -ms-transform: translateZ(-380px);
  -o-transform: translateZ(-380px);
  filter: blur(15px);
  /* box-shadow: 0 0 120px rgba(0,255,0,0.4), 0 0 120px rgba(0,255,0,0.4), 0 0 120px rgba(0,255,0,0.6), 0 0 120px rgba(0,255,0,0.8), 0 0 120px rgba(0,255,0,1); */ /*
  -webkit-filter: blur(15px);
} */
